<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/png" href="{{ include.faviconPath }}/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ include.faviconPath }}/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ include.faviconPath }}/android-chrome-192x192.png" sizes="192x192" />
<link rel="icon" type="image/png" href="{{ include.faviconPath }}/android-chrome-192x192.png" sizes="192x192" />
<link rel="icon" type="image/png" href="{{ include.faviconPath }}/android-chrome-512x512.png" sizes="512x512" />
<link rel="apple-touch-icon" type="image/png" href="{{ include.faviconPath }}/apple-touch-icon.png" />
