@import "theme-slate/main";
@import "slateOverrides";
@import "instafeed";
@import "location";

nav {
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    a {
      display: block;
      padding: 10px 20px;
    }
  }
}
