.header_wrap {
  .inner {
    display: flex;
    align-items: center;
    padding: 30px 10px;

    .logo {
      width: 70px;
      padding: 0;
      border: 0;
      margin: 0;
      margin-right: 10px;
    }

    h1 {
      line-height: 1.1;
    }
  }
}
